#################
## Jaxxa's Files to ignore.
#################
# Lines that start with '#' are comments.

*.suo
*.dll
*.exe

**/bin
**/obj

Source/.vs/ED-Embrasures/v15/Server/sqlite3/
Source/.vs/ED-Embrasures/DesignTimeBuild/.dtbcache
**/.vs/
